/* App.scss */
/* Variables */
$navbar-background: #ffffff;
$navbar-border-color: #000000;
$button-background: #ffffff;
$button-text-color: #070707;
$button-border-color: #00ffff;
$button-border-radius: 15px;
$signup-button-color: #ff7f50;
$signup-button-text-color: #ffffff; // New variable for text color

/* Navbar Styles */
.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  background-color: $navbar-background;
  border-bottom: 1px solid $navbar-border-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0px 20px;
}

.logo {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: rgb(22, 17, 17);
  font-weight: 450;
}

.buttons-container {
  display: flex;
  justify-content: space-between; /* Add space between items */
  align-items: center; /* Align items vertically */
}

.buttons-container a,
.buttons-container button,
.buttons-container .icon {
  margin-left: 22.5px; /* Add margin between individual items */
}

.navbar-item-styling {
  margin-left: 22.5px;
  text-decoration: none;
  color: rgb(66, 65, 65);
  font-size: 17.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.navbar-item-styling:hover {
  cursor: pointer;
}

.nav-link {
  width: 100px;
  font-family: 'roboto';
  font-size: 14px;
  background-color: $button-background;
  color: $button-text-color;
  border: 1px solid #6bc4cd;;
  border-radius: $button-border-radius;
  padding: 6px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  background-color: rgb(173, 216, 230, 0.3); /* Change background color on hover */
}

// .signup {
//   background-color: $signup-button-color;
//   color: $signup-button-text-color; // Apply white text color
//   border-color: orange;
//   margin-left: 5%;
// }

// Home
.home-container {
  // display: flex;
  justify-content: space-between;
  // align-items: center;
  font-family: roboto;
  // justify-content: center;
  // height: 80vh;
  // padding: 20px;
  display: flex;


  h6 {
    color: inherit;
    font-size: 18px;
    margin-top: 10px;
  }
}

.left-column, .right-column {
  flex: 1;
  padding: 20px;
}

.left-column {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.right-column {
  // display: flex;
  justify-content: center;
  align-items: center;
}

.home-main-text {
  font-family: Value,sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.05;
  letter-spacing: -1.16px;
  margin-top: 100px;
  padding-bottom: 15px;
  color: #4120b9;
  background: linear-gradient(300deg,#4120b9 0,#ab5eaf 100%);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-description-text {
  font-family: roboto;
  color: #555;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.home-bold {
  font-weight: 500;
  color: #000;
}

.test-photos-button {
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0;
  width: 263px;
  height: 75px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(90deg,#f47660 0,#e68b4c 100%);
}

.how-it-works-container {
  // .p {
  //   font-size: 93%;
  // color: red;
  // margin: 0;
  // line-height: 1.6;
  // }
}

.how-it-works-header {
  font-size: 54px;
  line-height: 1.05;
  letter-spacing: -1.16px;
  font-weight: 700;
  display: inline-block;
  color: #eb787a;
  background: linear-gradient(90deg,#f08b60 0,#e66595 100%);
    background-clip: border-box;
  background-clip: text;
  font-family: Value,sans-serif;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  .how-it-works-header-2 {
    font-family: Value,sans-serif;
    font-size: 30px;
    line-height: 1.05;
    letter-spacing: -1.16px;
    font-weight: 700;
    display: inline-block;
    color: #eb787a;
    background: linear-gradient(270deg,#4120b9 0,#b94997 100%);
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 30px 0 6px 0;
    margin-top: 30px;
  }

  .how-it-works-text {
    font-family: 'roboto';
    font-size: 93%;
    color: #525252;
    margin: 0;
    line-height: 1.6;
  }

.image-slider {
  position: relative;
  width: 300px; /* Adjust to your desired size */
  height: 300px; /* Adjust to your desired size */
}

.image-container-slider {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 1s, opacity 1s;
}

.image-container-slider:nth-child(1) {
  bottom: 0px;
}

.image-container-slider:nth-child(2) {
  bottom: -15px; /* Adjust to make it stick out */
}

.image-container-slider:nth-child(3) {
  bottom: -30px; /* Adjust to make it stick out */
}

.image-container-slider:nth-child(4) {
  bottom: -45px; /* Adjust to make it stick out */
}

/* Apply overflow: hidden only for the fourth image container */
.image-slider:nth-child(4) {
  overflow: hidden;
}

.fade-out {
  animation: slideUpFadeOut 1s forwards;
}

.move-up-1 {
  bottom: 0px !important;
}

.move-up-2 {
  bottom: -15px !important;
}

.move-up-3 {
  bottom: -30px !important;
}

.move-up-4 {
  bottom: -45px !important;
}

@keyframes slideUpFadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.image-form-container {
  box-shadow: rgba(0, 0, 0, .17) 0 0 20px 0;
  width: 750px;
  height: 500px;  
  background-color: white;
  margin-top: 20px;  
  border-radius: 1%;
  padding-right: 30px;
}

.context-label {
  color: #a3a3a3;
  font-size: 12px;
  font-weight: 500;
  margin: 2px 0 -1px 0;
  text-transform: uppercase;
  letter-spacing: .1em;
}
  
/* SplitPage Styles */
.signup-buttons {
  margin-bottom: 20px;
}

.sign-up-background {
  background: linear-gradient(to bottom, #f08b60 0%, #ef8764 27%, #e66786 100%);
  padding-left: 50px;
  padding-top: 50px;
}

.social-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; /* Space between buttons */
}

.signup-social-media-button {
  width: calc(100% - 50px);
  max-width: 370px;
  height: 56px;
  margin-bottom: 25px;
  font-weight: 500;
  text-decoration: inherit;
  color: #fff;
  background-color: #617baf;
  font-family: Roboto,sans-serif;
  font-size: 17px;
  line-height: 1.42857143;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.signup-social-media-button:hover {
  background-color: #155598;
}

.facebook-button,
.linkedin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.facebook-button {
  background-color: #3b5998;
  color: #fff;
  border: 1px solid #3b5998;
}

.linkedin-button {
  background-color: #0077b5;
  color: #fff;
  border: 1px solid #0077b5;
}

.facebook-button:hover,
.linkedin-button:hover {
  background-color: transparent;
  color: $button-text-color;
  border-color: $button-border-color;
}

.login-link {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: underline;
  }
}

// GridComponent.scss
.grid-container {
  display: flex;
  p {
    color: #fff;
    font-size: 15px;
    padding-bottom: 40px;
    font-family: 'roboto';
    padding: 0px;
    margin: 0px;
  }
  h1 {
    text-align: left;
    margin-bottom: 20px;
  }
  h3 {
    color: #fff;
    font-size: 19px;
    padding-bottom: 40px;
    font-family: 'roboto';
    padding: 0px;
    margin: 0px;
  }
}

.grid-left, .grid-right {
  flex: 1;
  height: 100%;
  font-size: 24px;
  h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 500;
    line-height: 1.42857143;
    padding-top: 20px;
    margin: 0 0 25px 0;
    font-family: roboto;
  }
}

/* footer */
.footer {
  background-color: #191c24;
  color: white;
  font-size: 17px;
  text-align: center;
  padding: 4% 0; /* Adjust top and bottom padding */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.footer-table {
  width: 30%;
  margin: 0 auto; /* Center the table horizontally */
}

th {
  color: #68c4ce;
  padding: 10px; /* Add padding to table cells */
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
} 

td {
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
}

th {
  // background-color: #2c303c; /* Header background color */
}

button {
  margin-right: 5px; /* Add spacing between buttons */
}

button:last-child {
  margin-right: 0; /* Remove margin for the last button */
}

.facebook-button-footer, .linkedin-button-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 70px;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  background-color: #617baf;
}

.facebook-button-footer:hover, .linkedin-button-footer:hover {
  text-decoration: underline;
  background-color: #0077b5;
}

.social-media-button-container-footer {
  display: flex;
  justify-content: right;
}

/* Login.scss */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.login-container {
  display: grid;
  place-items: center;
  margin-bottom: 7vh;
}

.login-header {
  margin-top: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
}

.login-paragraph-text {
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.social-login {
  height: 20%; /* Adjust the width to control the length of the line */
  border-right: 1px solid #dbd6d6;
  padding-right: 50px;
}

.email-login {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 70vh;
}

.login-button {
  padding: 7.5px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
  height: 40px; 
  width: 100px;
  background-color: #fc6a49;
}

#login-button-span {
  width: 350px; 
  margin-left: 100px;
}

.input-group {
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.placeholder-text {
  color: #888;
}

// My Tests Page
.my-tests-container {
  height: 80.5vh;
  width: 100%;
  padding: 20px;
}

.test-buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px; 
}

.new-test-button,
.cancel-button,
.sort-button {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
  margin-right: 10px;
}

.cancel-button {
  color: orange; /* Apply orange color to cancel button text */
}

.karma-container {
  margin-left: auto; /* Push the karma container to the right */
  margin-right: 20px; /* Adjust margin as needed */
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
}

.new-test-button {
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
  border-radius: 25px;
  background-color: #ff7f50;
  border: none;
  color: white;
  padding: 5px;
  width: 100px;
  margin-right: 20px; /* Add margin to the right */
  font-size: 16px;
}

.dropdown-button {
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
  border-radius: 25px;
  background-color: #f3e9e6;
  border: none;
  padding: 5px;
  width: 100px;
  border: 1px solid rgb(163, 159, 159);
  height: 37.5px;
  width: 100px;
  font-size: 16px;
}

.sort-icon {
  color: rgb(148, 148, 148);
}

.dropdown-button-sort {
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
  border-radius: 25px;
  background-color: #fff;;
  border: none;
  padding: 5px;
  width: 100px;
  border: 1px solid rgb(163, 159, 159);
  height: 37.5px;
  width: 100px;
  font-size: 16px;
  color: black;
}

.dropdown-button-sort:hover {
  background-color: #f3e9e6;
  border: 1px solid rgb(85, 83, 83);
}

.dropdown-category-header {
  color: #949494;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: .15em;
  text-transform: uppercase;
  padding: 8px 15px;
}

.dropdown-menu {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.new-test-button {
  border-radius: 25px;
  background-color: #ff7f50;
  border: none;
  color: white;
  padding: 5px;
  width: 150px;
  height: 37.5px;
  margin-right: 20px; 
}

// .dropdown-button {
//   border-radius: 25px;
//   background-color: #f3e9e6;
//   border: none;
//   padding: 5px;
//   width: 100px;
//   border: 1px solid black;
//   margin-left: 20px; 
// }

/* DropdownButton.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 150px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  display: block;
}


.dropdown-container:hover .dropdown-content {
  display: block;
}

/* Updated styles for list items */
.dropdown-content ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
}

.dropdown-content li {
  padding: 10px 15px; /* Adjust padding as needed */
  cursor: pointer;
  transition: background-color 0.3s; /* Hover transition */
}

.dropdown-content li:hover,
.dropdown-content li.active {
  background-color: rgba(109, 222, 240, 0.1); /* Hover and active background color */
  border: 1px solid gray;
}

// Multi Step Form 

.multi-step-form {
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.step-list {
  padding: 0px 50px; /* Adjust the padding as needed for wider spacing */
  letter-spacing: .15em;
  font-weight: 500;
  opacity: .5;
  text-transform: uppercase;
  font-size: 11px;
  font-family: Roboto, sans-serif;
  line-height: 1.42857143;
  color: #333;
  display: flex;
  max-width: 6000px; /* Adjust max-width as needed */
  border-bottom: 1px solid #dbd6d6;
}

.step {
  cursor: pointer;
  padding: 10px 40px;
  transition: background-color 0.3s ease;
}

.step.active {
  color: #db7134; /* Change text color to match underline */
  border-bottom: 2px solid #3498db; /* Add underline with background color */
}

.step-content {
  width: 100%;
}

#step-1-text {
  font-family: Roboto, sans-serif;
  padding-left: 10px;
  font-weight: 400;
}

.upload-box {
  padding: 80px;
  padding-left: 80px;
  border: solid 1px #b9b5b5;
  width: 50px;
  font-family: Roboto, sans-serif;
  padding-left: 30px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.upload-box:hover {
  background-color: rgba(228, 228, 228, 0.3);
}

.image-grid {
  width: 100%;
}

.upload-text {
  text-align: center;
  font-size: 12px;
  width: 105px;
}

.button-container {
  margin-bottom: 20px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.rectangle {
  width: calc(16.666% - 20px); /* Adjust width based on your grid layout */
  height: 200px; /* Adjust height based on your grid layout */
  margin: 10px;
  background-color: #ccc; /* Default background color */
  position: relative;
}

.rectangle-checkbox {
  width: 20px; /* Increase the width */
  height: 20px; /* Increase the height */
  transform: scale(1.5); /* Scale up the checkbox */
}

.rectangle-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire rectangle */
}

.delete-photos-button {
  border-radius: 25px;
  background-color: white;
  border: 2px solid #6bc4cd;
  color: black;
  padding: 10px 20px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-photos-button:hover {
  background-color: rgba(200, 248, 243, 0.3);
}

.delete-selected-photos-button {
  border-radius: 25px;
  background-color: #fc6a49;;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-selected-photos-button:hover {
  background-color: rgb(250, 77, 3);
}

// Category
.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .button-group {
    button {
      border: none;
      outline: none;
      cursor: pointer;
      padding: 15px 35px;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      transition: background-color 0.3s ease;
      background-color: #e4e4e4;
      color: black;

      &.active-business {
        background-color: #547fd6;
        color: white;
      }

      &.active-social {
        background-color: #1eb771;
        color: white;
      }

      &.active-dating {
        background-color: #ef6324;
        color: white;
      }

    }
  }

  .button-group {
    display: flex;
    gap: 4px;
  }

  .button-next {
    button {
      background-color: #fc6a49;
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 20px;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      transition: background-color 0.3s ease;

      &:disabled {
        background-color: grey;
        cursor: not-allowed;
      }

      &:hover:not(:disabled) {
        background-color: darkblue;
      }
    }
  }
}


.category-container-no-align {
  display: flex;
  justify-content: center;
}


.image-section {
  // border: 1px solid #ccc; 
  max-width: 400px; /* Adjust width as needed */
  // height: 300px; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 25%;
  margin: 20px;

  .image-holder {
    width: 100%;
    height: 100%;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; /* Ensure the image scales appropriately */
      border: 1px solid #ccc; 
    }
  }
}

.image-title {
  background: #393f4f;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  width: 100%; /* Make the h1 element take up the entire width */
  padding: 5px 0;
  font-weight: 200;
}

.image-details {
  font-family: 'Roboto', sans-serif;
  font-size: 13.5px;
  font-weight: 200;
  color: #333;
  margin: 0px;
  padding-top: 5px;
}

.image-details-dating {
  color: #a3a3a3;
  font-size: 12px;
  font-weight: 500;
  margin: 2px 0 -1px 0;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-family: 'Roboto', sans-serif;
  padding-top: 5px;
}

.dating-subject-details {
  border: 1px solid #CCC;
  padding: 5px;
  display: flex;
  background-color: #e6e6e6;
}

.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-holder img {
  max-width: 100%;
  height: auto;
}

.button-next {
  margin-top: 20px;
}

// SignUp form
.signup-form {
  border-radius: 5px;
  h4 {
    font-family: Roboto,sans-serif;
  }
}

h4 {
  color: #535353;
  font-weight: 500;
  margin-left: 1px;
  margin-bottom: 5px;
}

.singup-form-input {
  background: #fff;
  border: 2px solid #aaa;
  border-radius: 10px;
  // display: flex;
  // padding: 0 15px;
  // position: relative;
  height: 55px;
  width: 70%;
}

.sign-up-form-button {
  color: #fff;
  border: none;
  background: linear-gradient(309.66deg,#4d27b8 0,#a057b0 100%);
  height: 56px;
  width: 250px;
  margin: 10px 0 30px 0;
  font-size: 17px;
  margin-top: 30px;
  border-radius: 10px;
}

.flash-message {
  color: #333;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  border-left: 5px solid #d72b3f; /* Set left border color and width */
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  width: 65%;
  display: flex;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f53d05;
}

// TestSize.module.scss

.hover-container {
  /* Hover effect */
  &:hover {
    background-color: #f5f5f5; /* Light gray */
    cursor: pointer;
  }
}

.test-size-container {
  width: 53%;
  background-color: #fff; /* Set initial background color */
  transition: background-color 0.3s ease; /* Add transition for smooth effect */
  padding-left: 20px;;

  p.test-size-text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }

  .flex-container {
    display: flex;
    align-items: center;

    .content {
      border-top: 1px solid rgb(233, 228, 228);
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: space-between;

      h4 {
        display: inline-block;
        margin: 0 0 3px;
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        line-height: 1.42857143;
        color: #333;

        #free { /* Style the 'Free' span separately */
          color: orange;
          margin-left: 5px;
        }
      }

      .icon {
        color: orange;
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        line-height: 1.42857143;
        position: relative;
        top: 12px;      }
    }
  }

  .bottom-text {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid rgb(233, 228, 228);
    width: 100%;
    padding-bottom: 5px;
    margin: 0px;
  }
}

// Business.scss

.business-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;

  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .new-test-button {
    border-radius: 25px;
    background-color: #ff7f50;
    border: none;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .new-test-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

// Social.module.scss

.social-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.social-title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 200;
  color: rgb(31, 26, 26)
}

.social-input {
  margin-bottom: 20px;
  background-color: white;
}

.radio-group {
  margin-bottom: 15px;

  label {
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
  }
}

.dropdown-container {
  // margin-top: 1rem;
  font-family: 'Roboto', sans-serif;

  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
}

.next-button {
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
}

// Dating.module.scss

.dating-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  text-align: center; /* Center text within elements */
}

.dating-centre-container {
  width: 100%;
  max-width: 500px; /* Adjust max-width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.dating-title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 100;
  margin: 5px;
}

.dating-paragraph {
  font-family: 'Roboto', sans-serif;
  margin: 15px;
  font-weight: 50;
  color: #888;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
  }

  select {
    width: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
  }
}

.checkbox-group {
  margin-top: 1rem;

  input[type="checkbox"] {
    margin-right: 10px;
  }

  label {
    font-family: 'Roboto', sans-serif;
  }
}

.dropdown-container {
  font-family: 'Roboto', sans-serif;
  // margin-top: 20px;

  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
}

.next-button {
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
}

.gender-button {
  background-color: #e4e4e4;
  border: 1px solid #e4e4e4;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 125px;
  line-height: 1.42857143;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  border-radius: 50px 0 0 50px; /* Default border radius */
  margin-left: 3.5px;
}

/* Specific styles for Male button */
.male-button {
  border-radius: 50px 0 0 50px; /* Remove border radius */
}
/* Specific styles for Female button */
.female-button {
  border-radius: 0; /* Remove border radius */
}

/* Specific styles for Both button */
.both-button {
  border-radius: 0 50px 50px 0; /* Adjust border radius */
}

/* Hover styles */
.gender-button:hover {
  background-color: #cfcbcb;
}

/* Active styles */
.gender-button.active {
  background-color: #888;
  border-color: #888;
  color: #fff;
}

/* ActiveTest.css */
.active-test-container {
  text-align: center;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}

.active-test-sub-container {
  margin-top: 100px;
}

.active-test-heading {
  font-size: 19px;
  font-weight: 400;
  color: #333;
  margin-bottom: 10px;
}

.active-test-subheading {
  font-size: 19px;
  font-weight: 500;
  color: #0f0f0f;
  margin-bottom: 15px;
}

.active-test-subheading-two {
  font-size: 19px;
  font-weight: 400;
  color: #333;
  margin-bottom: 15px;
}

.orange-text {
  color: orange;
}

// Rating Component
.rating-table {
  justify-content: center;
  margin-top: 10px;
  th {
    color: #333;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-bottom: 0;
    font-size: 19px;
    font-weight: 200;
  }

  td {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #a3a3a3;;
    text-align: left;
    margin-left: 15px;
    font-weight: 500;
  }
}

/* Rating Button Component CSS */
.rating-style-button-component {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 14px;
  cursor: pointer;
  width: 200px;
}

.rating-style-button-component div {
  text-align: left;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
}

.rating-style-button-component div span {
  margin-right: 5px;
  border-right: 1px solid #e4e4e4;
  padding: 10px;
}

// Comment Container
.comment-component-container {


  p {
    text-align: left;
    font-family: 'Roboto', sans-serif;
  }

  span {
    color: gray;
  }

  textarea {
    text-decoration: none;
    border-top: solid gray 1px;
    border: none;
    border-top-width: medium;
    border-top-style: none;
    border-top-color: currentcolor;
    border-top: solid gray 1px;
    width: 100%;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    outline: none; /* Remove highlighting effect */
    color: #555;
  }  

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem; // Add some space above the button container
  }

  .skip-button {
    display: flex;
    align-items: center;
    margin-left: 60%;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: #a3a3a3;
    
    p {
      margin-left: 0.5rem;
    }
  }


    .comment-tabs {
      display: flex;
    
      .tab {
        cursor: pointer;
        padding: 5px;
        border-bottom: solid 1px rgb(221, 210, 210);
        font-size: 14px;
    
        &.quick-notes {
          color: gray;
        }
    
        &.active {
          border: solid 1px rgb(221, 210, 210);
          border-bottom: 2px solid white;
          border-top-left-radius: 2.5px;
          border-top-right-radius: 2.5px;
        }
      }
    
      .separator {
        width: 63.112%;
        border-bottom: solid 1px rgb(221, 210, 210);
      }
    }
    
    .buttons-row {
      display: flex;
      margin-top: 10px;
      font-size: 12px;
      padding: 0;
    
      button {
        padding: 5px 7px;
        background-color: #edf5f7;
        color: black;
        font-size: 12px;
        
        &.selected {
          background-color: #393f4f;
          color: white;
        }
    
        &:hover {
          background-color: #393f4f;
          color: white;
        }
      }
    
      &:last-child {
        margin-top: 5px;
      }
    }
    
    .suggestions-section {
      margin-top: 10px;
      font-size: 14px;
      // Add additional styles for suggestions section
    }
  }

  // Image section vote styles
  .image-section-vote {

    .title {
      background-color: rgb(36, 33, 33);
      margin-top: 10px;
      margin-bottom: 20px;
      text-align: center;
      padding: 10px;
      font-family: 'Roboto', sans-serif;
      color: white;
    }
      
    .image-container {
      border: solid 1px gray;
    }
  }

  /* Card flip styling */
  .card {
    // height: 500px;
    width: 400px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
    padding-top: 20px;
    height: 500px;
  }

  .front {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
    position: absolute;
    background: linear-gradient(#08aeea, #2af598);
    z-index: 2;
    backface-visibility: hidden;
  }

  .container {
    perspective: 1000px;
  }

  .title-dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    color: white;
    background-color: #181414;
    cursor: pointer;
  }

  .title-option {
    background-color: white;
    color: black;
    text-align: center;
  } 
  
  .image-container {
    display: flex;
    justify-content: center;
  }

  .image-container-modal {
    width: '400px';
    height: '500px';
  }
  
  
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }  

  .custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .custom-dropdown-header {
    align-items: center;
    justify-content: center; /* Center the text */
    padding: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #393f4f;
    color: white;
    cursor: pointer;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    position: relative; /* Needed for icon positioning */
  }
  
  .custom-dropdown-text {
    flex: 1; /* Ensures the text takes available space */
    text-align: center;
  }
  
  .custom-dropdown-icon {
    position: absolute;
    right: 10px; /* Adjust as needed to position icon */
    color: white;
  }
  
  .custom-dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    z-index: 10;
  }
  
  .custom-dropdown-option {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
  }
  
  .custom-dropdown-option.disabled {
    color: gray;
    pointer-events: none; /* Prevent clicking on the disabled option */
  }
  
  
  
  .custom-dropdown-option:hover {
    background-color: rgba(138, 206, 233, 0.2);
    color: rgb(22, 21, 21);
  }

.image-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 33.5px; // Adjust the gap as needed
  margin: 20px;
}

.image-card {
  box-sizing: border-box;
}

.image-card-container {
  padding: 9px;
  font-family: 'Roboto', sans-serif;
  transition: box-shadow 0.3s ease; // Add transition for smooth effect
  border: solid 1px rgb(231, 224, 224);
  display: flex; // Use flexbox for centering
  flex-direction: column; // Align items vertically

  .image-card-details-container {
    display: flex;
    flex-direction: column;
    align-items: center; // Center content horizontally
  }

  div {
    font-size: 11px;
    letter-spacing: .15em;
  }

  img {
    width: 213px;
    height: 250px;
    margin: auto; // Center the image horizontally
  }

  .card-category-votes-title {
    display: flex;
    font-family: 'Roboto', sans-serif;

    span {
      margin-top: 12.5px;
      padding: 5px 27.8px;
      background-color: #393f4f;
      color: white;
      font-size: 11px;
    }

    #span-dating {
      background-color: #393f4f;
      color: white;
    }

    #span-votes {
      background-color: #f0f8fa;
      color: grey;
    }
  }

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: row;
  height: 700px;
  width: 45%;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.image-container {
  padding: 10px;
  text-align: center;
}

.image-container img {
  width: auto;
  height: 100%;
}

.form-container {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#close-button {
  color: #cdcfd1;
  align-self: flex-end;
  margin-bottom: 10px;
  font-size: 28px;
  background: none;
  cursor: pointer;
  visibility: visible; /* Ensure the button is always visible */
  transition: color 0.5s ease, background-color 0.5s ease, transform 0.3s ease; /* Add smooth transition for background color and transform */
}

#close-button:hover {
  background-color: rgba(241, 12, 12, 0.7); /* Change color on hover */
  color: rgb(97, 96, 96);
  transition: color 0.5s ease, background-color 0.5s ease, transform 0.3s ease; /* Add smooth transition for background color and transform */
}


// Triangle descriptionSpan
.description {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5px;
  transform: translateX(-50%);
  top: 5px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black; /* Triangle pointing upwards */
  position: relative;
  bottom: 25px
}

// section 4 multiStepFormActiveTest
.image-step-container {
  border: 2px dotted rgb(243, 241, 241);
  padding: 0px 40px;
  width: 55%;
  margin-left: 15%;
  padding-top: 20px;
  // display: none;
}

.image-step-container-row {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  // margin-left: 100px;
}

.image-step-container-column {
  // flex: 1;
  margin: 0 10px; /* Adjust spacing between columns */
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding-right: 50px;
}

.image-step-container-column.full-width {
  flex: 2; /* Takes up full width in the second row */
}

.download-button {
  margin: 2% 45%;
  width: 50px;
  height: 50px;
  font-size: 20px;  
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6bc4cd;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */

  /* Add hover effect */
  &:hover {
    background-color: #dee9f3; /* Change the background color on hover */
  }

  /* Add FontAwesome icon styling */
  .svg-inline--fa {
    color: #0a0a0a; /* Icon color */
    width: 150px;
  }
}

.toggle-button-container {
  display: inline-flex;
  align-items: center;
  margin: 0.5rem;
}

.toggle-button {
  background-color: lightgray;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  height: 20px;
  position: relative;
  width: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.toggle-button:hover {
  background-color: lightgray;
}

.toggle-button:focus,
.toggle-button:active {
  outline: none;
}

.toggle-button::-moz-focus-inner {
  border: 0;
}

.pin {
  background-color: white;
  border-radius: 19.6px;
  height: 20px;
  left: 0.8px;
  position: absolute;
  top: 0.6px;
  width: 20px;
  transition: left ease 0.5s;
}

.toggle-button.on {
  background-color: #ff7f50;
}

.toggle-button.on .pin {
  left: 19.6px;
}

.fade-in-toggle {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.fade-in-toggle.visible {
  opacity: 1;
}

.fade-out-toggle {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.fade-out-toggle.hidden {
  opacity: 0;
}




