/* App.scss */
/* Variables */
$navbar-background: #ffffff;
$navbar-border-color: #000000;
$button-background: #ffffff;
$button-text-color: #070707;
$button-border-color: #00ffff;
$button-border-radius: 15px;
$signup-button-color: #ff7f50;
$signup-button-text-color: #ffffff; // New variable for text color

/* Navbar Styles */
.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  background-color: $navbar-background;
  border-bottom: 1px solid $navbar-border-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0px 20px;
}

.logo {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: rgb(22, 17, 17);
  font-weight: 450;
}

.buttons-container {
  display: flex;
  justify-content: space-between; /* Add space between items */
  align-items: center; /* Align items vertically */
}

.buttons-container a,
.buttons-container button,
.buttons-container .icon {
  margin-left: 22.5px; /* Add margin between individual items */
}

.navbar-item-styling {
  margin-left: 22.5px;
  text-decoration: none;
  color: rgb(66, 65, 65);
  font-size: 17.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

.navbar-item-styling:hover {
  background-color: lightgrey;
}

.nav-link {
  width: 100px;
  font-size: 12px;
  background-color: $button-background;
  color: $button-text-color;
  border: 1px solid $button-border-color;
  border-radius: $button-border-radius;
  padding: 6px 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  background-color: lightblue; /* Change background color on hover */
}


// .signup {
//   background-color: $signup-button-color;
//   color: $signup-button-text-color; // Apply white text color
//   border-color: orange;
//   margin-left: 5%;
// }

/* SplitPage Styles */
.signup-buttons {
  margin-bottom: 20px;
}

.facebook-button,
.linkedin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.facebook-button {
  background-color: #3b5998;
  color: #fff;
  border: 1px solid #3b5998;
}

.linkedin-button {
  background-color: #0077b5;
  color: #fff;
  border: 1px solid #0077b5;
}

.facebook-button:hover,
.linkedin-button:hover {
  background-color: transparent;
  color: $button-text-color;
  border-color: $button-border-color;
}

// Home
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

// GridComponent.scss
.grid-container {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.grid-left, .grid-right {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.grid-left {
  background-color: red;
}

/* footer */
.footer {
  background-color: #191c24;
  color: white;
  font-size: 17px;
  text-align: center;
  padding: 4% 0; /* Adjust top and bottom padding */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.footer-table {
  width: 30%;
  margin: 0 auto; /* Center the table horizontally */
}

th {
  color: #68c4ce;
  padding: 10px; /* Add padding to table cells */
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
} 

td {
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
}

th {
  // background-color: #2c303c; /* Header background color */
}

button {
  margin-right: 5px; /* Add spacing between buttons */
}

button:last-child {
  margin-right: 0; /* Remove margin for the last button */
}

.facebook-button-footer, .linkedin-button-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 70px;
  margin-bottom: 10px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  background-color: #617baf;
}

.facebook-button-footer:hover, .linkedin-button-footer:hover {
  text-decoration: underline;
  background-color: #0077b5;
}

.social-media-button-container-footer {
  display: flex;
  justify-content: right;
}

/* Login.scss */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.login-container {
  display: grid;
  place-items: center;
}

.login-header {
  margin-top: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
}

.login-paragraph-text {
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 25px;
}

.social-login {
  height: 20%; /* Adjust the width to control the length of the line */
  border-right: 1px solid #dbd6d6;
  padding-right: 50px;
}

.email-login {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 70vh;
}

.login-button {
  width: 50%;
  padding: 7.5px;
  border-radius: 20px;
  background-color: #ff7f50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
}

.input-group {
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.placeholder-text {
  color: #888;
}

// My Tests Page
.my-tests-container {
  height: 80vh;
  width: 100%;
  padding: 20px;
}

.test-buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px; 
}

.new-test-button,
.cancel-button,
.sort-button {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
  margin-right: 10px;
}

.cancel-button {
  color: orange; /* Apply orange color to cancel button text */
}

.karma-container {
  margin-left: auto; /* Push the karma container to the right */
  margin-right: 20px; /* Adjust margin as needed */
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
}

.new-test-button {
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
  border-radius: 25px;
  background-color: #ff7f50;
  border: none;
  color: white;
  padding: 5px;
  width: 100px;
  margin-right: 20px; /* Add margin to the right */
  font-size: 16px;
}

.dropdown-button {
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
  border-radius: 25px;
  background-color: #f3e9e6;
  border: none;
  padding: 5px;
  width: 100px;
  border: 1px solid rgb(163, 159, 159);
  height: 37.5px;
  width: 100px;
  font-size: 16px;
}

.dropdown-button-sort {
  font-family: 'Roboto', sans-serif; /* Apply Roboto font family */
  border-radius: 25px;
  background-color: #f3e9e6;
  border: none;
  padding: 5px;
  width: 100px;
  border: 1px solid rgb(163, 159, 159);
  height: 37.5px;
  width: 100px;
  font-size: 16px;
  color: black;
}

.dropdown-button-sort:hover {
  background-color: #f3e9e6;
  border: 1px solid rgb(85, 83, 83);
}

.new-test-button {
  border-radius: 25px;
  background-color: #ff7f50;
  border: none;
  color: white;
  padding: 5px;
  width: 150px;
  height: 37.5px;
  margin-right: 20px; 
}

// .dropdown-button {
//   border-radius: 25px;
//   background-color: #f3e9e6;
//   border: none;
//   padding: 5px;
//   width: 100px;
//   border: 1px solid black;
//   margin-left: 20px; 
// }

/* DropdownButton.scss */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100px;
  font-size: 12px;
}

.dropdown-container:hover .dropdown-content {
  display: block;
}

/* Updated styles for list items */
.dropdown-content ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
}

.dropdown-content li {
  padding: 10px 15px; /* Adjust padding as needed */
  cursor: pointer;
  transition: background-color 0.3s; /* Hover transition */
}

.dropdown-content li:hover {
  background-color: #ccc; /* Hover background color */
}

// Multi Step Form 

.multi-step-form {
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.step-list {
  padding: 0px 50px; /* Adjust the padding as needed for wider spacing */
  letter-spacing: .15em;
  font-weight: 500;
  opacity: .5;
  text-transform: uppercase;
  font-size: 11px;
  font-family: Roboto, sans-serif;
  line-height: 1.42857143;
  color: #333;
  display: flex;
  width: 100%;
  max-width: 6000px; /* Adjust max-width as needed */
  border-bottom: 1px solid #dbd6d6;
}

.step {
  cursor: pointer;
  padding: 10px 40px;
  transition: background-color 0.3s ease;
}

.step.active {
  color: #db7134; /* Change text color to match underline */
  border-bottom: 2px solid #3498db; /* Add underline with background color */
}

.step-content {
  width: 100%;
}

#step-1-text {
  font-family: Roboto, sans-serif;
  padding-left: 10px;
  font-weight: 400;
}

.upload-box {
  padding: 75px;
  border: solid 1px #b9b5b5;
  width: 30px;
  font-family: Roboto, sans-serif;
  padding-left: 50px;
}

.image-grid {
  width: 100%;
}

.button-container {
  margin-bottom: 20px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.rectangle {
  width: calc(16.666% - 20px); /* Adjust width based on your grid layout */
  height: 200px; /* Adjust height based on your grid layout */
  margin: 10px;
  background-color: #ccc; /* Default background color */
  position: relative;
}

.rectangle-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire rectangle */
}

// Category
.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .button-group {
    button {
      border: none;
      outline: none;
      cursor: pointer;
      padding: 15px 35px;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      transition: background-color 0.3s ease;
      background-color: #e4e4e4;
      color: black;

      &.active-business {
        background-color: #547fd6;
        color: white;
      }

      &.active-social {
        background-color: #1eb771;
        color: white;
      }

      &.active-dating {
        background-color: #ef6324;
        color: white;
      }

    }
  }

  .button-group {
    display: flex;
    gap: 4px;
  }

  .button-next {
    button {
      background-color: #fc6a49;
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 20px;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      transition: background-color 0.3s ease;

      &:disabled {
        background-color: grey;
        cursor: not-allowed;
      }

      &:hover:not(:disabled) {
        background-color: darkblue;
      }
    }
  }
}


.category-container-no-align {
  display: flex;
  justify-content: center;
}


.image-section {
  // border: 1px solid #ccc; 
  max-width: 400px; /* Adjust width as needed */
  // height: 300px; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-right: 25%;
  margin: 20px;

  .image-holder {
    width: 100%;
    height: 100%;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; /* Ensure the image scales appropriately */
      border: 1px solid #ccc; 
    }
  }
}

.image-title {
  background: #393f4f;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  width: 100%; /* Make the h1 element take up the entire width */
  padding: 5px 0;
  font-weight: 200;
}

.image-details {
  font-family: 'Roboto', sans-serif;
  font-size: 13.5px;
  font-weight: 200;
  color: rgb(122, 119, 119);
  margin: 0px;
}

.dating-subject-details {
  border: 1px solid #CCC;
  padding: 5px;
  display: flex;
  background-color: #e6e6e6;
}

.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-holder img {
  max-width: 100%;
  height: auto;
}

.button-next {
  margin-top: 20px;
}

// SignUp form
.signup-form {
  width: 300px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h4 {
  margin-bottom: 5px;
  font-size: 16px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f53d05;
}

// TestSize.module.scss

.hover-container {
  /* Hover effect */
  &:hover {
    background-color: #f5f5f5; /* Light gray */
  }
}

.test-size-container {
  width: 53%;
  background-color: #fff; /* Set initial background color */
  transition: background-color 0.3s ease; /* Add transition for smooth effect */
  padding-left: 20px;;

  p.test-size-text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }

  .flex-container {
    display: flex;
    align-items: center;

    .content {
      border-top: 1px solid rgb(233, 228, 228);
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: space-between;

      h4 {
        display: inline-block;
        margin: 0 0 3px;
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        line-height: 1.42857143;
        color: #333;

        #free { /* Style the 'Free' span separately */
          color: orange;
          margin-left: 5px;
        }
      }

      .icon {
        color: orange;
        font-family: 'Roboto', sans-serif;
        font-size: 45px;
        line-height: 1.42857143;
        position: relative;
        top: 12px;      }
    }
  }

  .bottom-text {
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid rgb(233, 228, 228);
    width: 100%;
    padding-bottom: 5px;
    margin: 0px;
  }
}

// Business.scss

.business-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;

  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
  }

  .new-test-button {
    border-radius: 25px;
    background-color: #ff7f50;
    border: none;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .new-test-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

// Social.module.scss

.social-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.social-title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 200;
  color: rgb(31, 26, 26)
}

.social-input {
  margin-bottom: 20px;
  background-color: white;
}

.radio-group {
  margin-bottom: 15px;

  label {
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
  }
}

.dropdown-container {
  // margin-top: 1rem;
  font-family: 'Roboto', sans-serif;

  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
}

.next-button {
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
}

// Dating.module.scss

.dating-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  text-align: center; /* Center text within elements */
}

.dating-centre-container {
  width: 100%;
  max-width: 500px; /* Adjust max-width as needed */
  margin: 0 auto; /* Center the container horizontally */
}

.dating-title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 100;
  margin: 5px;
}

.dating-paragraph {
  font-family: 'Roboto', sans-serif;
  margin: 15px;
  font-weight: 50;
  color: #888;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  label {
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
  }

  select {
    width: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
  }
}

.checkbox-group {
  margin-top: 1rem;

  input[type="checkbox"] {
    margin-right: 10px;
  }

  label {
    font-family: 'Roboto', sans-serif;
  }
}

.dropdown-container {
  font-family: 'Roboto', sans-serif;
  // margin-top: 20px;

  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
}

.next-button {
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
}

.gender-button {
  background-color: #e4e4e4;
  border: 1px solid #e4e4e4;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  width: 125px;
  line-height: 1.42857143;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  border-radius: 50px 0 0 50px; /* Default border radius */
  margin-left: 3.5px;
}

/* Specific styles for Male button */
.male-button {
  border-radius: 50px 0 0 50px; /* Remove border radius */
}
/* Specific styles for Female button */
.female-button {
  border-radius: 0; /* Remove border radius */
}

/* Specific styles for Both button */
.both-button {
  border-radius: 0 50px 50px 0; /* Adjust border radius */
}

/* Hover styles */
.gender-button:hover {
  background-color: #cfcbcb;
}

/* Active styles */
.gender-button.active {
  background-color: #888;
  border-color: #888;
  color: #fff;
}

/* ActiveTest.css */
.active-test-container {
  text-align: center;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}

.active-test-sub-container {
  margin-top: 100px;
}

.active-test-heading {
  font-size: 19px;
  font-weight: 400;
  color: #333;
  margin-bottom: 10px;
}

.active-test-subheading {
  font-size: 19px;
  font-weight: 500;
  color: #0f0f0f;
  margin-bottom: 15px;
}

.active-test-subheading-two {
  font-size: 19px;
  font-weight: 400;
  color: #333;
  margin-bottom: 15px;
}

.orange-text {
  color: orange;
}

// Rating Component
.rating-table {
  justify-content: center;
  th {
    color: #333;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding-bottom: 0;
    font-size: 19px;
    font-weight: 200;
  }

  td {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #a3a3a3;;
    text-align: left;
    margin-left: 15px;
    font-weight: 500;
  }
}

/* Rating Button Component CSS */
.rating-style-button-component {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 14px;
  cursor: pointer;
}

.rating-style-button-component div {
  text-align: left;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
}

.rating-style-button-component div span {
  margin-right: 5px;
  border-right: 1px solid #e4e4e4;
  padding: 10px;
}

// Comment Container
.comment-component-container {

  p {
    text-align: left;
  }

  span {
    color: gray;
  }

  textarea {
    text-decoration: none;
    border-top: solid gray 1px;
    border: none;
    border-top-width: medium;
    border-top-style: none;
    border-top-color: currentcolor;
    border-top: solid gray 1px;
    width: 100%;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    outline: none; /* Remove highlighting effect */
    color: #555;
  }  

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem; // Add some space above the button container
  }

  .skip-button {
    display: flex;
    align-items: center;
    margin-left: 67.5%;
    cursor: pointer;
    color: #a3a3a3;
    
    p {
      margin-left: 0.5rem;
    }
  }


    .comment-tabs {
      display: flex;
    
      .tab {
        cursor: pointer;
        padding: 5px;
        border-bottom: solid 1px rgb(221, 210, 210);
        font-size: 14px;
    
        &.quick-notes {
          color: gray;
        }
    
        &.active {
          border: solid 1px rgb(221, 210, 210);
          border-bottom: 2px solid white;
          border-top-left-radius: 2.5px;
          border-top-right-radius: 2.5px;
        }
      }
    
      .separator {
        width: 63.112%;
        border-bottom: solid 1px rgb(221, 210, 210);
      }
    }
    
    .buttons-row {
      display: flex;
      margin-top: 10px;
      font-size: 12px;
      padding: 0;
    
      button {
        padding: 5px 7px;
        background-color: #edf5f7;
        color: black;
        font-size: 12px;
        
        &.selected {
          background-color: #393f4f;
          color: white;
        }
    
        &:hover {
          background-color: #393f4f;
          color: white;
        }
      }
    
      &:last-child {
        margin-top: 5px;
      }
    }
    
    .suggestions-section {
      margin-top: 10px;
      font-size: 14px;
      // Add additional styles for suggestions section
    }
  }

  // Image section vote styles
  .image-section-vote {
      
   .title {
      background-color: rgb(36, 33, 33);
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      padding: 10px;
      font-family: 'Roboto', sans-serif;
      color: white;
    }
      
    .image-container {
      border: solid 1px gray;
      
      img {
        width: 400px;
        height: 500px;
        margin: 20px;
      }
    }
  }

  .dropdown-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 25px;
  }
  
  .title-dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    color: white;
    background-color: #181414;
    cursor: pointer;
  }

  .title-option {
    background-color: white;
    color: black;
    text-align: center;
  } 
  
  .image-container {
    display: flex;
    justify-content: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }  

  .custom-dropdown {
    position: relative;
    display: inline-block;
    width: 150px;
    width: 100%;
  }
  
  .custom-dropdown-header {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #181414;
    color: white;
    cursor: pointer;
    text-align: center;
  }
  
  .custom-dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    z-index: 10;
  }
  
  .custom-dropdown-option {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
  }

  .custom-dropdown-option.disabled {
    color: gray;
    pointer-events: none; /* Prevent clicking on the disabled option */
  }
  
  
  .custom-dropdown-option:hover {
    background-color: rgba(138, 206, 233, 0.2);
    color: rgb(22, 21, 21);
  }
  
  .image-card-container {
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
    width: 20%;
    border: solid 1px rgb(231, 224, 224);
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Align items vertically */

    .image-card-details-container {
      display: flex;
      flex-direction: column;
      align-items: center; /* Center content horizontally */
    }

    div {
      font-size: 11px;
      letter-spacing: .15em;
    }

    img {
      width: 200px;
      height: 250px;
      margin: auto; /* Center the image horizontally */
    }
  
    .card-category-votes-title {
      display: flex;
      font-family: 'Roboto', sans-serif;
  
      span {
        margin-top: 12.5px;
        padding: 5px 27.8px;
        background-color: #0077b5;
        // width: 57px;
        font-size: 11px;
      }

      #span-dating {
        background-color: #393f4f;
        color: white;
      }

      #span-votes {
        background-color: #f0f8fa;
        color: grey;
      }
    }

    /* Apply box shadow when hovered */
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}


